#grid {
    margin: 5px;
}

#favorite_button {
    background-image: url("../images/ic_favorite_border_black_24px.svg");
}

#favorite_button.active {
    background-image: url("../images/ic_favorite_black_24px.svg");
}

#copy_button {

}

#emoji_name {
    font-size: 25px;
    font-weight: bold;
}

#emoji_unicode {
    color: #666666;
    font-weight: bold;
}

#emoji_image {
    background-image: url("../images/transparency.svg");
}
